.trainers_actionbuttonContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.trainers_action_icons {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.trainers_action_icons:hover {
  transform: scale(1.1);
}
.trainers_pending_button {
  background: #ffa60221;
  color: #ffa502;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}
.trainers_pending_button:hover {
  background: #ffa60221 !important;
  background-color: #ffa60221 !important;
  color: #ffa502 !important;
  opacity: 1 !important;
  box-shadow: none !important;
}
.trainers_verified_button {
  background: #14b8a524;
  color: #14b8a6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}
.trainers_verified_button:hover {
  background: #14b8a524 !important;
  background-color: #14b8a524 !important;
  color: #14b8a6 !important;
  opacity: 1 !important;
  box-shadow: none !important;
}
.trainers_rejected_button {
  background: #d32f2f1a;
  color: #d32f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}
.trainers_rejected_button:hover {
  background: #d32f2f1a !important;
  background-color: #d32f2f1a !important;
  color: #d32f2f !important;
  opacity: 1 !important;
  box-shadow: none !important;
}

.trainer_status_mainContainer {
  display: flex;
  gap: 16px;
}
.trainers_all_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #0959d9c4;
  background-color: #0959d911;
  border-radius: 6px;
  color: #0959d9c4;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.trainers_active_all_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 0px solid #0959d9c4;
  background-color: #0959d9c4;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.trainers_active_formpending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #fd79a8;
  background-color: #fd79a8;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.trainers_active_verifypending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ffa502;
  background-color: #ffa502;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.trainers_active_verifiedtrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #3c9111;
  background-color: #3c9111;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.trainers_active_rejectedtrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #d32f2f;
  background-color: #d32f2f;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.trainers_rejected_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #d32f2f;
  background-color: #d32f2f13;
  border-radius: 6px;
  color: #d32f2f;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.trainer_registration_signatureerror {
  position: absolute;
  bottom: -22px;
  font-size: 11px;
  color: #d32f2f;
}
.trainers_addtrainerdrawer .ant-drawer-body {
  padding: 0px 24px 24px 24px !important;
}
.trainer_profilephoto_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
}
.trainer_profilephoto {
  margin-top: 6px;
  width: 100px;
  height: 100%;
  border-radius: 6px;
}
.trainer_signature_image {
  width: 100px;
  height: 100%;
}
.trainer_skillslabel {
  position: absolute;
  top: -8px;
  background: #fff;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: -16px;
}

.trainer_skillslabel_error {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  top: -30%;
  color: #d32f2f;
}
.trainer_skills_error {
  color: #d32f2f;
  margin-top: 4px;
  font-size: 11.5px;
}
.trainer_skills_multiselect .ant-select-selector {
  min-height: 41px;
  max-height: 80px;
  overflow-y: auto;
  border-radius: 4px !important;
  scrollbar-width: thin;
  border-width: 1px !important;
  border-color: #80808066 !important;
  box-shadow: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;
}
.trainer_skills_multiselect .ant-select-selector:focus {
  box-shadow: none !important;
}
.trainer_skills_multiselect:hover.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: rgba(128, 128, 128, 0.705) !important;
  box-shadow: none !important;
}
.trainer_skills_multiselect_two .ant-select-selector {
  min-height: 41px;
  max-height: 80px;
  overflow-y: auto;
  border-radius: 4px !important;
  scrollbar-width: thin;
  border-width: 1px !important;
  border-color: #80808066 !important;
  box-shadow: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.trainer_skills_multiselect_two .ant-select-selector:focus {
  box-shadow: none !important;
}
.trainer_skills_multiselect_two:hover.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: rgba(128, 128, 128, 0.705) !important;
  box-shadow: none !important;
}
/* skill error field */
.trainer_skills_multiselect_error .ant-select-selector {
  min-height: 41px;
  max-height: 80px;
  overflow-y: auto;
  border-radius: 4px !important;
  scrollbar-width: thin;
  border-width: 1px !important;
  border-color: rgba(128, 128, 128, 0.56) !important;
  box-shadow: none !important;
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.trainer_skills_multiselect_error .ant-select-selector:focus {
  box-shadow: none !important;
}
.trainer_skills_multiselect_error:hover.ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #d32f2f !important;
  box-shadow: none !important;
}
/* trainer registration form styles */
.logincard_innerContainer {
  padding: 0px 35px 0px 35px !important;
}
.trainer_registration_headings {
  font-weight: 600;
  font-size: 16px;
  color: #333;
  margin-bottom: 12px !important;
}
.trainer_registration_dividers {
  margin: 30px 0px 18px 0px !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
@media (min-width: 260px) and (max-width: 1023px) {
  .trainer_registration_primarydetails_col_container {
    margin-top: 16px;
  }
}
.trainer_registration_signaturelabel {
  color: #333;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  top: -15px;
}
.trainer_registration_signature_createbutton {
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  color: #5b69ca;
  font-size: 13px;
  box-shadow: none !important;
  padding: 0px;
  gap: 1px;
  background-color: transparent;
  margin-left: 12px;
}
.trainer_registration_signature_createbutton:active {
  box-shadow: none !important;
}
.trainer_registration_signature_createbutton:hover {
  color: #5b69ca !important;
}
.trainer_registration_nextbuttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  margin-top: 20px;
}
.trainer_registration_submitbuttonContainer {
  position: absolute;
  bottom: 2px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trainer_registration_submitbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  height: 33px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  margin-bottom: 20px;
}
.trainer_registration_loadingsubmitbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  height: 33px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.trainer_registration_logoContainer {
  display: flex;
  justify-content: space-between;
}
.trainer_registration_tabs.ant-tabs > .ant-tabs-nav {
  padding: 0px 35px !important;
}
.trainer_registration_heading {
  color: #333;
  margin-top: 14px;
  font-weight: 600;
}
.trainer_registration_logo {
  width: 110px;
}
.trainer_registration_logotext {
  color: #1b538c !important;
  margin-top: 6px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* success page styles */
.freetrial_maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #fbfcfd;
  min-height: 100vh;
  flex-direction: column;
}
.success_logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.success_actelogo {
  width: 110px;
  text-align: center;
}
.congrats_card {
  border: 1px solid rgba(26, 26, 26, 0.1);
  box-shadow: 0px 2px 30px #ccc6;
  background-color: #ffffff;
  border-radius: 8px;
  width: 40%;
  padding: 35px 90px;
  margin: 20px 0px 60px 0px;
  position: relative;
}
.congrats_text {
  color: gray;
  font-size: 13px;
  text-align: center;
  margin-top: 4px;
}
.congrats_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 22px;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
}
.congrats_submitbutton:hover {
  background-color: #009737;
}
.congrats_submitbutton:active {
  transform: translateY(2px);
}
.congrats_imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}
.congrats_image {
  width: 360px;
  text-align: center;
}
.success_headingtext {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  text-align: center;
}
.success_descriptiontext {
  color: gray;
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
}
/* .trainer_picture_circle.ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item {
  height: 18% !important;
} */
.managetable_checkbox_container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 2px;
  color: #333;
}

/* add trainer payment request styles */
.trainerpaymentrequest_addrequestdrawer_rowcontainer {
  padding: 0px 24px 0px 24px;
}
.trainerpaymentrequest_addrequestdrawer_deletebutton {
  background-color: #d32f2f13;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #d32f2f;
  border-color: #d32f2f13;
  font-size: 13px;
  font-weight: 500;
  /* padding: 6px 22px; */
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trainerpaymentrequest_addrequestdrawer_deletebutton:hover {
  background-color: #d32f2f !important;
  border-color: #d32f2f !important;
  color: #fff !important;
  opacity: 1 !important;
}
