.dashboard_leadnumber_card {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100%;
  padding: 12px;
}
.dashboard_leadcount_main_container {
  display: flex;
  gap: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 10px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 12px;
}
.dashboard_leadcount_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 14px; */
  width: 50px;
  height: 50px;
  background-color: #5b6aca41;
  color: #5b69ca;
  border-radius: 50%;
}
.dashboard_joiningcount_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3c91112a;
  color: #3c9111;
  border-radius: 50%;
}
.dashboard_leadcount_container {
  font-weight: 600;
  font-size: 15px;
}
.dashboard_leadnumbers {
  font-size: 22px;
  font-weight: 700;
  margin-top: 12px;
  color: #5b69ca;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard_leadcount_card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100%;
}
.dashboard_leadcount_header_container {
  border-bottom: 1px solid rgb(5 5 5 / 14%);
}
.dashboard_scrorecard_heading {
  font-weight: 600;
  font-size: 16px;
}
.dashboard_daterange_text {
  color: #777;
  font-size: 13px;
  margin-top: 2px;
}
.dashboard_daterangeContainer {
  position: absolute;
  z-index: 99;
  background: white;
  top: 68px;
  right: 0px;
}
.dashboard_scorecard_dateiconContainer {
  position: relative;
  width: 140px;
  background-color: transparent;
  padding: 0px 12px;
  height: 100%;
  border-left: 1px solid rgb(5 5 5 / 14%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 8px;
  cursor: pointer;
}
.dashboard_scorecard_divider {
  margin: 0px 0px !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
.dashboard_leadcountcard_progressbar_mainContainer {
  padding: 16px 22px;
}
.dashboard_leadcountcard_subheadings {
  font-weight: 500;
  font-size: 15px;
}
.dashboard_leadcountcard_count {
  font-size: 30px;
  color: #5b69ca;
  font-weight: 600;
  margin-top: 8px;
  word-break: break-all;
}
.dashboard_leadfollowup_headings {
  font-weight: 500;
  font-size: 13.5px;
}
.dashboard_leadcountcard_progressbar {
  margin-top: 8px;
  margin-bottom: 6px;
}
.dashboard_leadcountcard_progressbar.ant-progress .ant-progress-bg {
  background: #5b6aca66 !important;
  height: 20px !important;
  border-radius: 2px !important;
}
.dashboard_leadcountcard_progressbar.ant-progress .ant-progress-inner {
  border-radius: 4px !important;
  background-color: #f5f5f5 !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}
.dashboard_leadcountcard_progressbar .ant-progress-inner {
  position: relative;
}

.dashboard_leadcountcard_progressbar .ant-progress-text {
  position: absolute;
  left: 24%;
  top: 36%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 12px;
  font-weight: 500;
}
.dashboard_performchannel_headingContainer {
  padding: 9px 12px;
  background-color: #5b6aca17;
}
.dashboard_performchannel_heading_col {
  font-size: 13px;
  font-weight: 500;
}
.dashboard_performchannel_data_col {
  font-size: 13px;
}

.dadhboard_chartsContainer {
  padding: 12px 12px;
  height: 100%;
}
.dashboard_skeleton_container {
  padding: 12px;
}
.dashboard_leadcount_divider {
  margin: 6px 0px 6px 0px !important;
  width: 60% !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
.dashboard_chart_nodata_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #333;
  font-weight: 500;
  margin-top: -12px;
}
.dashboard_userwise_typefield_container {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  width: 100%;
  padding: 16px 12px 0px 12px;
}
.dashboard_userwise_typefield_container > div {
  width: 100%;
}
.dashboard_download_button {
  background-color: #ffffff;
  border-color: #d9d9d9;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  border-width: 1px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard_download_button:hover {
  border-color: #5b69ca !important;
}
.dashboard_download_button:hover .download_icon {
  color: #5b69ca !important;
}
.dashboard_loading_download_button {
  background-color: #ffffff;
  border-color: #d9d9d9;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  border-width: 1px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: default;
}
.saleperformance_dashboard_download_container {
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 1;
}
.hr_dashboard_download_container {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}
.saleperformance_download_button {
  background-color: #ffffff;
  border-color: #d9d9d9;
  height: 29px;
  padding: 4px 12px;
  border-radius: 6px;
  border-width: 1px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saleperformance_download_button:hover {
  border-color: #5b69ca !important;
}
.saleperformance_download_button:hover .download_icon {
  color: #5b69ca !important;
}
