.settings_tabbutton_maincontainer {
  display: flex;
  gap: 18px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
.settings_tab_inactivebutton {
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.548);
  background-color: transparent;
  padding: 5px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.settings_tab_activebutton {
  border-radius: 6px;
  /* border: 1px solid rgba(128, 128, 128, 0.548); */
  background-color: #5b69ca;
  color: #fff;
  padding: 5px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

/* users styles */
.users_adddrawer_createbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 95px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users_adddrawer_loadingcreatebutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 95px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
/* page access styles */
.settings_group_haeding {
  font-weight: 600;
  font-size: 15px;
  margin-top: 12px;
}
.settings_group_createbutton_container {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
}
.settings_group_createbutton {
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings_group_loading_createbutton {
  width: 95px;
  cursor: default;
  opacity: 0.7;
}
.settings_nogroups_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 600;
  color: #333;
  width: 100%;
}
.settings_groupcard {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
}
.groupname_container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.settings_group_contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
}
.settings_groupcard_footer_container {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 2px;
}
.settings_addpermission_button {
  background-color: transparent;
  border-color: gray;
  border-radius: 6px;
  width: 100px;
  padding: 4px 0px;
  font-size: 12px;
}
.settings_addpermission_button:hover {
  border-color: #5b69ca;
  opacity: 1 !important;
  color: #5b69ca;
}
.settings_addpermission_loading_button {
  background-color: transparent;
  border-color: gray;
  border-radius: 6px;
  width: 100px;
  padding: 4px 0px;
  font-size: 12px;
  cursor: default;
  opacity: 0.7;
}
.settings_addpermission_loading_button .ant-spin .ant-spin-dot {
  font-size: 14px !important;
}
.settings_addgroup_drawer .ant-drawer-body {
  padding: 0px !important;
  overflow-x: hidden;
}
.settings_permission_subheading {
  font-weight: 500;
  margin-top: 12px !important;
  font-size: 14px;
  padding: 0px 24px 0px 24px;
}
.settings_pageaccess_checkbox_container {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}
.settings_pageaccess_checkbox {
  font-size: 13px;
}
.settings_pageaccess_checkbox .ant-checkbox-inner {
  border: 1px solid #c9c9c9 !important;
}
.settings_addgroupdrawer_divider {
  margin: 18px 0px !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
.users_filterContainer {
  position: absolute;
  left: 40%;
}
.users_filterbutton {
  border-left: 0px !important;
  border-radius: 0px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-color: rgb(128 128 128 / 44%) !important;
  height: 33px;
  padding: 10px !important;
  color: #333 !important;
}
.users_filterbutton:hover {
  color: #5b69ca !important;
}
.users_filter_closeIconContainer {
  position: absolute;
  right: 14px;
  top: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf;
  color: #fff;
  padding: 1px;
  cursor: pointer;
  border-radius: 50%;
}
.users_filter_closeIconContainer:hover {
  background-color: #8c8c8c;
}

.settings_roles_container {
  margin-top: 12px;
}
.settings_roles_heading {
  font-weight: 600;
  font-size: 15px;
}

.settings_groupcard_editbutton_conatiner {
  display: flex;
  padding-top: 6px;
  gap: 10px;
}

.settings_permission_rowcontainer {
  padding: 0px 24px 0px 24px;
}
.settings_permissions_savebutton {
  width: 90px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings_permissions_loading_savebutton {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: default;
}
.settings_formfields_deletebutton {
  border-color: #d32f2f;
  color: #d32f2f;
  font-size: 13px;
  width: 75px;
  margin-top: 5px;
}
.settings_formfields_deletebutton:hover {
  color: #fff !important;
  border-color: #d32f2f !important;
  background-color: #d32f2f !important;
  opacity: 1 !important;
}
.settings_formfields_submitbutton_container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.settings_formfields_submitbutton {
  width: 90px;
}

/* courses styles */
.courses_bulkmodal_footer_updatecourses_button {
  background-color: #5b69ca;
  border-color: #5b69ca;
  color: #fff;
  font-weight: 500;
  width: 140px;
}
.courses_bulkmodal_footer_updatecourses_button:hover {
  opacity: 0.7;
  background-color: #5b69ca !important;
  border-color: #5b69ca !important;
  color: #fff !important;
}
.courses_adddrawer_dragger_label {
  font-size: 13px;
  margin-bottom: 4px !important;
}
.courses_adddrawer_upload_dragger.ant-upload-wrapper .ant-upload-drag {
  background-color: transparent !important;
}
.courses_adddrawer_upload_dragger.ant-upload-wrapper .ant-upload-drag:hover {
  border-color: #5b69ca !important;
}
.courses_adddrawer_upload_dragger .ant-upload-text {
  color: #5b69ca !important;
  font-size: 13px !important;
  font-weight: 500;
}
.courses_adddrawer_upload_dragger .ant-upload-hint {
  font-weight: 500 !important;
  font-size: 12px !important;
}
.courses_adddrawer_dragger_icon {
  color: #5b69ca;
  margin-bottom: 4px;
}
.courses_syllabus_a_tag {
  font-weight: 500 !important;
}
