/* .customers_status_mainContainer {
  display: flex;
  gap: 12px;
  margin-top: 18px;
  margin-bottom: 24px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1; 
}
.customers_status_mainContainer::-webkit-scrollbar {
  width: 12px;
}

.customers_status_mainContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.customers_status_mainContainer::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.customers_status_mainContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
.customers_scroll_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 16px;
}
.customer_statusscroll_button {
  border-radius: 50%;
  padding: 6px 6px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #333;
  background-color: #e0e3e8;
}
.customers_status_mainContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 10px;
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
  /* margin-top: 18px;
  margin-bottom: 24px; */
}
.customers_status_mainContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.customers_formpending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ff6b6b;
  background-color: #ff6b6b11;
  border-radius: 6px;
  color: #ff6b6b;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_formpending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ff6b6b;
  background-color: #ff6b6b;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_awaitfinance_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #eb6d4b;
  background-color: #eb6e4b11;
  border-radius: 6px;
  color: #eb6d4b;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_awaitfinance_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #eb6d4b;
  background-color: #eb6d4b;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_studentvefity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ffa502;
  background-color: #ffa6020e;
  border-radius: 6px;
  color: #ffa502;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_studentvefity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ffa502;
  background-color: #ffa502;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_assigntrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #2ed573;
  background-color: #2ed5740e;
  border-radius: 6px;
  color: #2ed573;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_assigntrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #2ed573;
  background-color: #2ed573;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_verifytrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #1e90ff;
  background-color: #1e8fff11;
  border-radius: 6px;
  color: #1e90ff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_verifytrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_classschedule_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #a29bfe;
  background-color: #a29bfe15;
  border-radius: 6px;
  color: #a29bfe;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_classschedule_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #a29bfe;
  background-color: #a29bfe;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_classgoing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #00cec9;
  background-color: #00cecb10;
  border-radius: 6px;
  color: #00cec9;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_classgoing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #00cec9;
  background-color: #00cec9;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_pendingfees_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #e17055;
  background-color: #e1715513;
  border-radius: 6px;
  color: #e17055;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_pendingfees_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #e17055;
  background-color: #e17055;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_escalated_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #6c5ce7;
  background-color: #6c5ce715;
  border-radius: 6px;
  color: #6c5ce7;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_escalated_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #6c5ce7;
  background-color: #6c5ce7;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_feedback_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #fd79a8;
  background-color: #fd79a711;
  border-radius: 6px;
  color: #fd79a8;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_feedback_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #fd79a8;
  background-color: #fd79a8;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_completed_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #3c9111;
  background-color: #3c911111;
  border-radius: 6px;
  color: #3c9111;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_completed_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #3c9111;
  background-color: #3c9111;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_others_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #0984e3;
  background-color: #0985e30e;
  border-radius: 6px;
  color: #0984e3;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.customers_status_awaitfinance_button {
  background: #eb6e4b18;
  color: #eb6d4b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitfinance_button:hover {
  background-color: #eb6e4b18 !important;
  color: #eb6d4b !important;
  box-shadow: none !important;
  opacity: 1;
}

.customers_status_awaitverify_button {
  background: #ffa60218;
  color: #ffa502;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitverify_button:hover {
  background-color: #ffa6021a !important;
  color: #ffa502 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaittrainer_button {
  background: #2ed57417;
  color: #2ed573;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaittrainer_button:hover {
  background-color: #2ed57417 !important;
  color: #2ed573 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaittrainerverify_button {
  background: #1e8fff15;
  color: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaittrainerverify_button:hover {
  background-color: #1e8fff15 !important;
  color: #1e90ff !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaitclassschedule_button {
  background: #a29bfe1f;
  color: #a29bfe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitclassschedule_button:hover {
  background-color: #a29bfe1f !important;
  color: #a29bfe !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaitfeedback_button {
  background: #fd79a715;
  color: #fd79a8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitfeedback_button:hover {
  background-color: #fd79a715 !important;
  color: #fd79a8 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_classgoing_button {
  background: #00cecb15;
  color: #00cec9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_classgoing_button:hover {
  background-color: #00cecb15 !important;
  color: #00cec9 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_completed_button {
  background: #3c911115;
  color: #3c9111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_completed_button:hover {
  background-color: #3c911115 !important;
  color: #3c9111 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customer_profileContainer {
  display: flex;
  gap: 12px;
}
.cutomer_profileimage {
  border-radius: 50%;
  width: 70px;
}
.customer_nametext {
  font-weight: 600;
  font-size: 20px;
  color: #333;
}
.customer_coursenametext {
  color: gray;
  margin-top: 4px;
  font-size: 12px;
}
.customer_details_rowcontainer {
  display: flex;
  gap: 40px;
  margin-bottom: 14px;
}
.customerdetails_rowheadingContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}
.customerdetails_rowheading {
  font-weight: 500;
  font-size: 13px;
}
.customerdetails_text {
  color: gray;
  font-size: 13px;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.customerdetails_coursecard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 20px;
  border-radius: 6px;
}
.customerdetails_coursecard_headercontainer {
  background-color: #f9f9f9;
  padding: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 600;
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}
.customerdetails_coursecard_contentcontainer {
  padding: 12px;
}
.customer_signature_image {
  width: 120px;
  margin-top: 9px;
}
.customerdetails_signatureContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 16px;
}
.customers_statustooltip .ant-tooltip-inner {
  width: 160px !important; /* or max-content */
  max-width: none !important; /* remove AntD's 250px cap */
  white-space: normal !important; /* allow wrapping */
}

.customers_statuscheckbox {
  margin-bottom: 9px !important;
  font-size: 12px !important;
}
.customer_trainerreject_button {
  background-color: #d32f2f;
  border-radius: 6px;
  box-shadow: 0 2px 0 #d32f2f11;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 95px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.customer_trainerreject_loadingbutton {
  background-color: #d32f2f;
  border-radius: 6px;
  box-shadow: 0 2px 0 #d32f2f11;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 95px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  opacity: 0.7;
}
.customer_classgoing_percentage {
  font-weight: 600;
  font-size: 12px;
  color: #333;
}
.customer_classgoing_updateinput {
  width: 74px;
  height: 0px;
  padding: 9px 4px;
  color: #333;
  border-width: 1px !important;
  border-color: rgb(128 128 128 / 38%) !important;
  border-radius: 3px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.customer_classgoing_updateinput:focus-visible {
  border-width: 1px !important;
  border-color: rgb(128 128 128 / 38%) !important;
  outline: none !important;
}
.customers_classgoing_updatebutton {
  background-color: #00cec9 !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.customers_classgoing_loadingupdatebutton {
  background-color: #00cec9 !important;
  color: #fff !important;
  width: 54px;
  height: 22px;
  border-radius: 4px !important;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  cursor: default;
  opacity: 0.7;
}
.customers_classcompleted_container {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 4px;
}
.customers_classgoing_completedtext {
  font-size: 10px;
  color: #333;
}
.customers_addfeedbackbutton {
  background-color: #fd79a8 !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.customers_feedback_imagelabels {
  color: #333;
  font-size: 12px;
  font-weight: 500;
}
.customer_issuecert_button {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 220px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer_issuecert_loadingbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 220px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.customer_trainerassign_historytable {
  width: 100% !important;
  margin-top: 12px;
  margin-bottom: 16px;
}
.customer_trainerassign_historytable th {
  font-weight: 600 !important;
  color: #333;
  font-size: 13px;
}
.assesmntresult_collapse .ant-collapse-header {
  padding: 9px 12px !important; /* reduce header height */
  min-height: unset !important;
}

.assesmntresult_collapse .ant-collapse-content-box {
  padding: 6px 12px !important; /* reduce body/content height */
}
.customer_trainerhistory_nodatatext {
  font-weight: 500;
  color: #333;
  margin-top: 12px;
  margin-bottom: 16px !important;
  text-align: center;
}
/* customer registration form styles */
.customerregistration_card {
  width: 70%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  display: table-cell;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 30px #ccc6;
}
.customer_registration_loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* customer update styles */
.customerupdate_drawer .ant-drawer-body {
  padding: 0px !important;
}
.customer_update_tab.ant-tabs > .ant-tabs-nav {
  padding: 0px 24px !important;
}
.customerupdate_maincontainer {
  padding: 0px 24px;
}

.customer_statusupdate_drawer .ant-drawer-body {
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.customer_statusupdate_drawer_profileContainer {
  display: flex;
  gap: 12px;
  padding: 12px 24px 12px 24px;
}
.customer_statusupdate_divider {
  margin: 16px 0px 14px 0px !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
.customer_statusupdate_adddetailsContainer {
  padding: 0px 24px 0px 24px;
}
.customer_statusupdate_adddetails_heading {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
.customer_paymentscreenshot_heading {
  color: #333;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 12px !important;
}
.customer_paymentscreenshot_image {
  width: 100%;
}
