/* .customers_status_mainContainer {
  display: flex;
  gap: 12px;
  margin-top: 18px;
  margin-bottom: 24px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1; 
}
.customers_status_mainContainer::-webkit-scrollbar {
  width: 12px;
}

.customers_status_mainContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.customers_status_mainContainer::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.customers_status_mainContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
.customers_scroll_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 16px;
}
.customer_statusscroll_button {
  border-radius: 50%;
  padding: 6px 6px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #333;
  background-color: #e0e3e8;
}
.customers_status_mainContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 10px;
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
  /* margin-top: 18px;
  margin-bottom: 24px; */
}
.customers_status_mainContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.customers_formpending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ff6b6b;
  background-color: #ff6b6b11;
  border-radius: 6px;
  color: #ff6b6b;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_formpending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ff6b6b;
  background-color: #ff6b6b;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_awaitfinance_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #eb6d4b;
  background-color: #eb6e4b11;
  border-radius: 6px;
  color: #eb6d4b;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_awaitfinance_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #eb6d4b;
  background-color: #eb6d4b;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_studentvefity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ffa502;
  background-color: #ffa6020e;
  border-radius: 6px;
  color: #ffa502;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_studentvefity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ffa502;
  background-color: #ffa502;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_assigntrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #2ed573;
  background-color: #2ed5740e;
  border-radius: 6px;
  color: #2ed573;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_assigntrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #2ed573;
  background-color: #2ed573;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_verifytrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #1e90ff;
  background-color: #1e8fff11;
  border-radius: 6px;
  color: #1e90ff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_verifytrainers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_awaitingclass_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ff8c01;
  background-color: #ff8d0118;
  border-radius: 6px;
  color: #ff8c01;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_awaitingclass_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #ff8c01;
  background-color: #ff8c01;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_classschedule_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #a29bfe;
  background-color: #a29bfe15;
  border-radius: 6px;
  color: #a29bfe;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_classschedule_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #a29bfe;
  background-color: #a29bfe;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_classgoing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #00cec9;
  background-color: #00cecb10;
  border-radius: 6px;
  color: #00cec9;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_classgoing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #00cec9;
  background-color: #00cec9;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_pendingfees_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #e17055;
  background-color: #e1715513;
  border-radius: 6px;
  color: #e17055;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_pendingfees_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #e17055;
  background-color: #e17055;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_escalated_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #d32f2f;
  background-color: #d32f2f13;
  border-radius: 6px;
  color: #d32f2f;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_escalated_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #d32f2f;
  background-color: #d32f2f;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_feedback_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #fd79a8;
  background-color: #fd79a711;
  border-radius: 6px;
  color: #fd79a8;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_feedback_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #fd79a8;
  background-color: #fd79a8;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_completed_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #3c9111;
  background-color: #3c911111;
  border-radius: 6px;
  color: #3c9111;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.customers_active_completed_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #3c9111;
  background-color: #3c9111;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_others_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #0984e3;
  background-color: #0985e30e;
  border-radius: 6px;
  color: #0984e3;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.customers_active_others_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #0984e3;
  background-color: #0984e3;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.customers_status_formpending_button {
  background: #ff6b6b15;
  color: #ff6b6b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_formpending_button:hover {
  background-color: #ff6b6b15 !important;
  color: #ff6b6b !important;
  box-shadow: none !important;
  opacity: 1;
}

.customers_status_awaitfinance_button {
  background: #eb6e4b18;
  color: #eb6d4b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitfinance_button:hover {
  background-color: #eb6e4b18 !important;
  color: #eb6d4b !important;
  box-shadow: none !important;
  opacity: 1;
}

.customers_status_awaitverify_button {
  background: #ffa60218;
  color: #ffa502;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitverify_button:hover {
  background-color: #ffa6021a !important;
  color: #ffa502 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaittrainer_button {
  background: #2ed57417;
  color: #2ed573;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaittrainer_button:hover {
  background-color: #2ed57417 !important;
  color: #2ed573 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaittrainerverify_button {
  background: #1e8fff15;
  color: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaittrainerverify_button:hover {
  background-color: #1e8fff15 !important;
  color: #1e90ff !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaitingclass_button {
  background: #ff8d0113;
  color: #ff8c01;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}
.customers_status_awaitingclass_button:hover {
  background-color: #ff8d0113 !important;
  color: #ff8c01 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_classscheduled_button {
  background: #a29bfe1f;
  color: #a29bfe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_classscheduled_button:hover {
  background-color: #a29bfe1f !important;
  color: #a29bfe !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaitfeedback_button {
  background: #fd79a715;
  color: #fd79a8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitfeedback_button:hover {
  background-color: #fd79a715 !important;
  color: #fd79a8 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaitgreview_button {
  background: #ffc10717;
  color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitgreview_button:hover {
  background-color: #ffc10717 !important;
  color: #ffc107 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_awaitlinkdinreview_button {
  background: #286cb517;
  color: #286cb5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_awaitlinkdinreview_button:hover {
  background-color: #286cb517 !important;
  color: #286cb5 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_classgoing_button {
  background: #00cecb15;
  color: #00cec9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_classgoing_button:hover {
  background-color: #00cecb15 !important;
  color: #00cec9 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customers_status_completed_button {
  background: #3c911115;
  color: #3c9111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px !important;
  width: max-content !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  height: 0px !important;
}

.customers_status_completed_button:hover {
  background-color: #3c911115 !important;
  color: #3c9111 !important;
  box-shadow: none !important;
  opacity: 1;
}
.customer_profileContainer {
  display: flex;
  gap: 12px;
}
.cutomer_profileimage {
  border-radius: 50%;
  width: 70px;
}
.customer_nametext {
  font-weight: 600;
  font-size: 20px;
  color: #333;
}
.customer_coursenametext {
  color: gray;
  margin-top: 4px;
  font-size: 12px;
}
.customer_details_rowcontainer {
  display: flex;
  gap: 40px;
  margin-bottom: 14px;
}
.customerdetails_rowheadingContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}
.customerdetails_rowheading {
  font-weight: 500;
  font-size: 13px;
}
.customerdetails_coursegst {
  font-size: 10px;
  position: relative;
  top: -2px !important;
}
.customerdetails_text {
  color: gray;
  font-size: 13px;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.customerdetails_coursecard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 20px;
  border-radius: 6px;
}
.customerdetails_coursecard_headercontainer {
  background-color: #f9f9f9;
  padding: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 600;
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}
.customerdetails_coursecard_contentcontainer {
  padding: 12px;
}
.customer_signature_image {
  width: 120px;
  margin-top: 9px;
}
.customerdetails_signatureContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 16px;
}
.customers_statustooltip .ant-tooltip-inner {
  width: 160px !important; /* or max-content */
  max-width: none !important; /* remove AntD's 250px cap */
  white-space: normal !important; /* allow wrapping */
}

.customers_statuscheckbox {
  margin-bottom: 9px !important;
  font-size: 12px !important;
}
.customers_classtaken_customerscount {
  color: gray;
  font-size: 11px;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.customers_finance_updatepayment_button {
  background-color: #eb6d4b !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 1px;
}
.customer_paymentreject_buttoncontainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.customer_paymentreject_button {
  font-size: 13px !important;
  font-weight: 500 !important;
  width: 140px !important;
}
.customer_paymentreject_loadingbutton {
  opacity: 0.7;
  width: 140px !important;
}
.customer_trainerreject_button {
  background-color: #d32f2f;
  border-radius: 6px;
  box-shadow: 0 2px 0 #d32f2f11;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 95px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.customer_trainerreject_loadingbutton {
  background-color: #d32f2f;
  border-radius: 6px;
  box-shadow: 0 2px 0 #d32f2f11;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 95px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  opacity: 0.7;
}
.customer_classgoing_percentage {
  font-weight: 600;
  font-size: 12px;
  color: #333;
}
.customer_classgoing_updateinput {
  width: 74px;
  height: 0px;
  padding: 9px 4px;
  color: #333;
  border-width: 1px !important;
  border-color: rgb(128 128 128 / 38%) !important;
  border-radius: 3px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.customer_classgoing_updateinput:focus-visible {
  border-width: 1px !important;
  border-color: rgb(128 128 128 / 38%) !important;
  outline: none !important;
}
.customers_classgoing_updatebutton {
  background-color: #00cec9 !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.customers_classgoing_loadingupdatebutton {
  background-color: #00cec9 !important;
  color: #fff !important;
  width: 54px;
  height: 22px;
  border-radius: 4px !important;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  cursor: default;
  opacity: 0.7;
}
.customers_classcompleted_container {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 4px;
}
.customers_classgoing_completedtext {
  font-size: 10px;
  color: #333;
}
.customer_classcompletemodal_heading {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
.customer_classcompletemodal_text {
  color: gray;
  font-size: 12px;
  text-align: center;
  margin-top: 6px;
  font-weight: 500;
  line-height: 22px;
  word-spacing: 2px;
}
.customer_classcompletemodal_button_container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
.customer_classcompletemodal_cancelbutton {
  width: 90px;
}
.customer_classcompletemodal_cancelbutton:hover {
  border-color: #5b69ca !important;
  color: #5b69ca !important;
}
.customer_classcompletemodal_okbutton {
  width: 90px;
}
.customer_classcompletemodal_loading_okbutton {
  opacity: 0.7;
  width: 90px;
}
.customers_addfeedbackbutton {
  background-color: #fd79a8 !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.customers_add_greview_button {
  background-color: #ffc107 !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.customers_add_linkdinreview_button {
  background-color: #286cb5 !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.customers_feedback_imagelabels {
  color: #333;
  font-size: 12px;
  font-weight: 500;
}
.customer_issuecert_button {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 220px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer_issuecert_loadingbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 220px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.customer_trainerassign_historytable {
  width: 100% !important;
  margin-top: 12px;
  margin-bottom: 16px;
}
.customer_trainerassign_historytable th {
  font-weight: 600 !important;
  color: #333;
  font-size: 13px;
}
.assesmntresult_collapse .ant-collapse-header {
  padding: 9px 12px !important; /* reduce header height */
  min-height: unset !important;
}

.assesmntresult_collapse .ant-collapse-content-box {
  padding: 6px 12px !important; /* reduce body/content height */
}
.customer_finance_rejectbutton {
  font-size: 12px;
  padding: 0px 12px !important;
  background-color: #d32f2f13;
  color: #d32f2f;
  border-color: #d32f2f13;
  height: 28px !important;
}
.customer_finance_rejectbutton:hover {
  background-color: #d32f2f13 !important;
  color: #d32f2f !important;
  border-color: #d32f2f13 !important;
}
.customer_finance_verifybutton {
  font-size: 12px;
  padding: 0px 12px !important;
  background-color: #3c911111;
  color: #3c9111;
  border-color: #3c911111;
  height: 28px !important;
}
.customer_finance_verifybutton:hover {
  background-color: #3c911111 !important;
  color: #3c9111 !important;
  border-color: #3c911111 !important;
}
.customer_trans_statustext_container {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
}
.customer_finance_loadingverifybutton {
  font-size: 12px;
  padding: 0px 12px !important;
  background-color: #3c911111;
  color: #3c9111;
  border-color: #3c911111;
  height: 28px !important;
  opacity: 0.7 !important;
  cursor: default;
}
.customer_finance_loadingverifybutton:hover {
  background-color: #3c911111 !important;
  color: #3c9111 !important;
  border-color: #3c911111 !important;
}
.customer_financereject_comment_container {
  margin-bottom: 40px;
  position: relative;
}
.customer_financereject_submitbutton_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.customer_financereject_submitbutton {
  width: 92px;
}
.customer_financereject_loadingsubmitbutton {
  width: 92px;
  opacity: 0.7;
}
.customer_trainerhistory_nodatatext {
  font-weight: 500;
  color: #333;
  margin-top: 12px;
  margin-bottom: 16px !important;
  text-align: center;
}
.customers_formlink_copybutton:active {
  transform: scale(0.9);
  cursor: pointer !important;
}
.customer_paymentscreenshot_viewbutton {
  color: #5b69ca;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  padding: 0px !important;
  margin-top: 16px;
}
.customer_paymentscreenshot_image {
  width: 100%;
  height: auto;
  object-fit: cover; /* fill full width */
  display: block;
  border-radius: 6px;
}
.customers_updateschedulebutton {
  background-color: #a29bfe !important;
  color: #fff !important;
  width: 90%;
  height: 24px;
  border-radius: 4px !important;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 4px;
}
.customer_generatecert_button_container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.customer_generatecert_button {
  font-size: 13px !important;
  background-color: #5b69ca !important;
  color: #fff !important;
  border-color: #5b69ca !important;
  width: 160px;
  font-weight: 500;
}
.customer_generatecert_button:hover {
  border-color: #5b69ca !important;
  color: #fff !important;
}
.customer_generatecert_loading_button {
  font-size: 13px !important;
  background-color: #5b69ca !important;
  color: #fff !important;
  border-color: #5b69ca !important;
  opacity: 0.7;
  width: 160px;
  cursor: default;
}
.customer_generatecert_loading_button:hover {
  border-color: #5b69ca !important;
  color: #fff !important;
}
.customer_viewcert_button {
  font-size: 13px !important;
  background-color: #5b69ca !important;
  color: #fff !important;
  border-color: #5b69ca !important;
  width: 140px;
  font-weight: 500;
}
.customer_viewcert_button:hover {
  border-color: #5b69ca !important;
  color: #fff !important;
}
.customer_viewcert_loadingbutton {
  font-size: 13px !important;
  background-color: #5b69ca !important;
  color: #fff !important;
  border-color: #5b69ca !important;
  width: 140px;
  font-weight: 500;
  opacity: 0.7;
}
.customer_stepperbuttons {
  font-size: 13px;
}
.customer_stepperbuttons:hover {
  color: #5b69ca !important;
  border-color: #5b69ca !important;
}
.customer_complete_passedoutbutton {
  font-size: 13px !important;
  background-color: #5b69ca !important;
  color: #fff !important;
  border-color: #5b69ca !important;
  width: 100px;
  font-weight: 500;
}
.customer_complete_passedoutbutton:hover {
  border-color: #5b69ca !important;
  color: #fff !important;
}
.customer_complete_loadingpassedoutbutton {
  font-size: 13px !important;
  background-color: #5b69ca !important;
  color: #fff !important;
  border-color: #5b69ca !important;
  width: 100px;
  opacity: 0.7;
  cursor: default;
}
.customer_trainer_cusomer_heading {
  font-weight: 600;
  font-size: 15px;
  color: #333;
  margin-bottom: 12px !important;
}
.customer_trainermappingfilter_container {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  margin-left: -10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.customer_trainermappingfilter_container:hover {
  border-color: rgba(128, 128, 128, 0.432) !important;
  color: #333 !important;
}
.customer_trainer_badge_mainconatiner {
  display: flex;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.363);
  padding: 4px 12px;
  margin-top: 16px;
  width: max-content;
  gap: 12px;
}
.customer_trainer_onboardcount_badge {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #3c9111;
}
.customer_trainer_goingcount_badge {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #ffa502;
}
.customer_trainer_onboardcount_badgecount {
  font-size: 11px;
  color: #333;
}
.customer_certificate_viewmodal .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  /* transform: scale(0.8); */
}
.customers_choosebranch_heading {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 9px !important;
}
.customers_choosebranch_checkbox_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
}
/* overall due styles */
.overallduecustomers_filterContainer {
  display: flex;
  margin-bottom: 6px;
  gap: 0px;
  width: 100%;
}
/* customer registration form styles */
.customerregistration_card {
  width: 70%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  display: table-cell;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 30px #ccc6;
}
.customer_registration_loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.customer_registration_terms_container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 25px;
  font-size: 13px;
}
.customer_registration_terms_contentContainer ul {
  font-size: 13px;
  color: #333;
}
.customer_registration_terms_contentContainer li {
  margin-bottom: 12px;
}
.customer_registration_terms_error {
  color: #d32f2f;
  font-size: 11px;
  padding: 4px 20px;
}
.customer_registration_terms_text {
  color: #5b69ca;
  font-weight: 500;
  cursor: pointer;
  margin-left: -9px;
  margin-top: 2px;
}
.customer_registration_courseheading {
  color: #333;
  font-weight: 500;
  margin-top: 22px;
  font-size: 15px;
}
.customer_registraion_sign_instruction_container {
  background-color: #5b6aca10;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #5b6aca5d !important;
  color: #333;
  margin-top: 20px;
  margin-bottom: 24px;
}
.customer_registraion_sign_instruction_container ul {
  font-size: 11px;
  margin-bottom: 3px;
}
.customer_registration_addsign_button {
  width: 140px;
  font-size: 13px;
}
.customer_registration_addsign_button:hover {
  color: #5b69ca !important;
  border-color: #5b69ca !important ;
}
/* customer update styles */
.customerupdate_drawer .ant-drawer-body {
  padding: 0px !important;
}
.customer_update_tab.ant-tabs > .ant-tabs-nav {
  padding: 0px 24px !important;
}
.customerupdate_maincontainer {
  padding: 0px 24px;
}
.customerupdate_profilepicture_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.customer_statusupdate_drawer .ant-drawer-body {
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.customer_statusupdate_drawer_profileContainer {
  display: flex;
  gap: 12px;
  padding: 12px 24px 12px 24px;
}
.customer_statusupdate_divider {
  margin: 16px 0px 14px 0px !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
.customer_statusupdate_adddetailsContainer {
  padding: 0px 24px 0px 24px;
}
.customer_statusupdate_adddetails_heading {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
.customer_paymentscreenshot_heading {
  color: #333;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 12px !important;
}
.customerupdate_coursedetails_heading {
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
}
.customerupdate_submitbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customerupdate_loadingsubmitbutton {
  background-color: #5b69ca;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0px;
  width: 200px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
/* pending customers styles */
.pendingcustomers_datepicker_label {
  position: absolute;
  top: -23px;
  font-size: 12px;
  font-weight: 500;
}
.pendingcustomer_paymentscreenshot_viewbutton {
  color: #5b69ca;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  padding: 0px !important;
}

/* customer history styles */
.customer_history_drawer .ant-drawer-body {
  padding: 0px !important;
  overflow-x: hidden;
}
.customer_history_drawer .ant-drawer-header {
  padding: 12px 24px !important;
}
.customer_history_drawer_totalcount_container {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.customer_history_updateddate {
  margin-bottom: 6px !important;
  font-size: 12px;
  color: #333;
  font-weight: 600;
}
.customer_history_comments {
  font-weight: 500;
  font-size: 13px;
  color: #333;
}
.customer_history_viewproofbutton {
  color: #5b69ca;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  padding: 0px !important;
}
.customer_history_details_label {
  font-weight: 500;
  font-size: 13px;
}
.customer_history_details_text {
  font-size: 13px;
  color: gray;
}
