.report_tabs .ant-tabs-tab {
  font-size: 13px !important;
}
.reports_leadcount_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #5b6aca41;
  color: #5b69ca;
  border-radius: 50%;
}
.reports_joiningcount_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #2ed5742f;
  color: #2ed573;
  border-radius: 50%;
}
.reports_collection_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #3c91112a;
  color: #3c9111;
  border-radius: 50%;
}
.reports_salevolume_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #1e8fff36;
  color: #1e90ff;
  border-radius: 50%;
}
.reports_pending_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #d32f2f2c;
  color: #d32f2f;
  border-radius: 50%;
}
.reports_leadcount_container {
  font-weight: 600;
  font-size: 14px;
}
.reports_collection_tooltip_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 55px;
}
.reports_collection_tooltip_text {
  color: #333;
  padding: 0px 12px 0px 0px;
  font-size: 12px;
  font-weight: 500;
}
.reports_download_button {
  background-color: #ffffff;
  border-color: #d9d9d9;
  height: 32px;
  margin-top: 2px;
  padding: 6px 10px;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.reports_download_button:hover {
  border-color: #5b69ca !important;
}
.reports_download_button:hover .download_icon {
  color: #5b69ca !important;
}
