:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
* {
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: "Poppins", sans-serif !important;
}
button:hover {
  opacity: 0.7;
}
/* button:active {
  transform: scale(0.9);
} */
button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* antd styles */

/* antd input field styles */
.ant-input {
  font-family: "Poppins", sans-serif !important;
}
.ant-input-outlined:focus-within {
  border-color: #5b69ca !important;
  box-shadow: 0 0 0 2px #5b6aca1a !important;
}
/* antd layout styles */
.ant-layout-sider-children {
  overflow-y: auto;
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #0d1c40 #0d1c40;
}
.ant-layout-sider {
  background: #0d1c40 !important;
  background-image: url("../src/assets/nav_bg.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: center !important;
  transition: all 0.4s ease;
}
.ant-layout-header {
  line-height: 20px !important;
}
.ant-menu-light .ant-menu-item {
  color: #fff !important;
  background-color: transparent;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #5b69ca !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 16px !important;
}

.ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  font-weight: 500 !important;
  background-color: transparent;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}
.ant-menu-inline .ant-menu-item {
  height: 40px !important;
  width: 90%;
  margin-left: 9px;
}
.ant-menu-light.ant-menu-inline .ant-menu-item {
  margin-top: 6px !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content {
  font-size: 13px !important;
}
.ant-menu-submenu-title {
  color: #333 !important;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
  background-color: transparent !important;
}

/* antd datepicker styles */
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #5b69ca !important;
}
.ant-picker-outlined {
  border-radius: 4px !important;
  /* height: 34px !important; */
}
.ant-picker-outlined:hover {
  border-color: rgba(128, 128, 128, 0.712) !important;
}
.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):hover {
  border-color: #d32f2f !important;
}
.ant-picker-outlined:focus {
  border-color: rgba(128, 128, 128, 0.712) !important;
  box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.712) !important;
}
.ant-picker-outlined:focus-within {
  border-color: #5b69ca !important;
  box-shadow: none !important;
}
.ant-picker-outlined.ant-picker-status-error:not(
    .ant-picker-disabled
  ):focus-within {
  border-color: #d32f2f !important;
  box-shadow: none !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-color: #5b69ca !important;
}
.ant-picker-now-btn {
  color: #5b69ca !important;
}
.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled)
  .ant-picker-suffix {
  color: #d32f2f !important;
}
/* ant double datepicker styles */
.ant-picker-range .ant-picker-active-bar {
  background: #5b69ca !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #5b69ca !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
  background-color: #5b69ca !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #5b69ca !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before,
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  )::before,
.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #5b6aca13 !important;
}
/* rating styles */
.ant-rate .ant-rate-star-zero .ant-rate-star-first,
.ant-rate .ant-rate-star-zero .ant-rate-star-second {
  color: rgba(0, 0, 0, 0.123) !important; /* Your desired color */
}

/* antd table styles */
.users_table .ant-table-thead .ant-table-cell {
  background-color: #e0e3e8;
  color: white;
}
.ant-pagination {
  display: flex;
  align-items: center;
}
.ant-select-outlined.ant-select-status-error:not(.ant-select-disabled):not(
    .ant-select-customize- input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #d32f2f !important;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06) !important;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #5b69ca !important;
}
.ant-pagination-options-size-changer {
  display: flex !important;
  gap: 6px !important;
  align-items: center !important;
}
.ant-pagination
  .ant-pagination-options-size-changer.ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  font-size: 11px;
  height: 29px !important;
  width: 100px !important;
  color: #333 !important;
  display: flex !important;
  align-items: center !important;
  border-color: rgba(128, 128, 128, 0.486) !important;
}
.ant-select-single.ant-select-sm
  .ant-select-selector
  .ant-select-selection-item {
  line-height: 15px !important;
}
.ant-pagination-options-size-changer .ant-select-arrow {
  color: #333;
}

.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #5b69ca !important;
  box-shadow: 0 0 0 2px #0057b31c !important;
}
.ant-select-focused.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #5b69ca !important;
  box-shadow: 0 0 0 2px #0057b31c !important;
}
.ant-table-thead .ant-table-cell {
  background-color: #e0e3e8 !important;
  font-size: 13px !important;
  color: #333 !important;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  font-size: 13px !important;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 3px !important;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 3px !important;
}
.ant-pagination .ant-pagination-item-active a {
  color: #5b69ca !important;
}
.ant-pagination .ant-pagination-item-active a:hover {
  color: #5b69ca !important;
}
.ant-pagination .ant-pagination-item {
  border: 1px solid #0057b338;
  height: 25px !important;
  line-height: 24px;
  min-width: 27px;
  font-size: 12px !important;
}
.ant-pagination .ant-pagination-item a {
  color: #5b69ca !important;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: none !important;
  opacity: 0.7;
}
.ant-table-wrapper .ant-table.ant-table-small .ant-table-cell,
:where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper
  .ant-table.ant-table-small
  .ant-table-thead
  > tr
  > th {
  padding: 11px !important;
}

/* progress bar styles */
.ant-progress .ant-progress-bg {
  background: #5b69ca !important;
}
/* antd checkbox styles */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #535bf2 !important;
  border-color: #5b69ca !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5b69ca !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #5b69ca !important;
}
.ant-checkbox-wrapper-disabled:hover
  .ant-checkbox-disabled
  .ant-checkbox-inner {
  border-color: #d9d9d9 !important;
}

/* antd spinner styles */
.ant-spin .ant-spin-dot-item {
  background: #5b69ca !important;
}
/* antd radio button styles */
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #5b69ca !important;
  background-color: #5b69ca !important;
}
.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #5b69ca !important;
}

/* antd tab */
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #535bf2 !important;
  text-shadow: none !important;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #535bf2 !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background: #535bf2 !important;
}

/* antd upload styles */
/* .ant-upload-wrapper .ant-upload-list .ant-upload-list-item {
  position: absolute !important;
} */
.ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item
  .ant-upload-list-item-name {
  color: #000000b4 !important;
  font-weight: 400 !important;
}
/* antd steps styles */
.ant-steps.ant-steps-small .ant-steps-item-icon {
  line-height: 22px !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #535bf2 !important;
  border-color: #535bf2 !important;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #535bf218 !important;
  border-color: #535bf218 !important;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #535bf2 !important;
}
.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #535bf2 !important;
}
