.pages_sidebarlogoContainer {
  padding: 22px 0px 16px 0px;
}
.pages_sidebarlogo_col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pages_collapseicon_container {
  background-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 4px 0px 4px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pages_collapseicon_collapsedcontainer {
  background-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 4px 0px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pages_sidebarcollpase_button {
  width: 35px;
  height: 35px;
  margin-left: 12px;
}
.pages_sidebarcollpase_button:hover {
  border-color: transparent !important;
}
.pages_sidebar_headerContainer.ant-layout-header {
  /* border-top-left-radius: 20px !important; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* header styles */
.header_maincontainer {
  padding: 24px;
  width: 100%;
}
.header_innercontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow children to wrap */
  width: 100%;
}
.header_titleContainer {
  display: flex;
  justify-content: space-between;
}
.header_pagetitle {
  font-weight: 600;
  font-size: 18px;
  margin-top: 4px;
}
.header_searchbar_container {
  position: relative;
  margin-right: 12px;
  height: 100%;
}
.header_searchbar {
  border-radius: 16px;
  background-color: #eff0f0;
  border: none;
  padding: 9px 12px 9px 30px;
  font-size: 12px;
  width: 250px;
}
.header_searchbar:focus {
  border: none !important;
  outline: 0 !important;
}
.header_searchbar_icon {
  position: absolute;
  left: 12px;
  top: 25%;
}
.header_searchbar_filtericon_button {
  position: absolute;
  right: 0px;
  top: 20%;
  height: 20px;
  width: 50px;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.header_search_options_container {
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  transform: translateY(4%);
  border-radius: 16px;
  color: #333;
  font-size: 13px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  max-height: 200px;
  overflow-y: auto;
}
.header_search_options_hidecontainer {
  position: absolute;
  transform: translateY(-15%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 9px 12px;
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  color: #333;
  font-size: 13px;
}
.header_search_options_name {
  cursor: pointer;
  /* margin-top: 9px !important; */
  font-weight: 500;
  padding: 12px;
}
.header_search_options_name:hover {
  color: #5b69ca;
}
.header_search_loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.header_search_options_nodata {
  color: gray;
  text-align: center;
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}
.header_profile_container {
  display: flex;
  justify-content: space-between;
}
.header_notificationicon_maincontainer {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}
.header_notificationicon_container {
  height: 40px;
  width: 40px;
  background-color: #5b6aca1a;
  color: #5b69ca;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_nametext {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 2px !important;
  text-overflow: ellipsis;
  word-break: break-all;
}
.header_roletext {
  margin-bottom: 2px !important;
  font-size: 12px;
  text-align: end;
}
.header_profileContainer {
  background-color: #5b6aca1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
}
.header_notification_count_container {
  position: absolute;
  border-radius: 50%;
  background-color: #d32f2f;
  color: #fff;
  width: 14px;
  height: 14px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 6px;
  z-index: 1;
}
.header_notification_drawer .ant-drawer-body {
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.header_notification_drawer_list_container {
  position: relative;
  padding: 10px 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.header_notification_drawer_list_container:hover {
  box-shadow: inset 1px 0 0 rgb(218, 220, 224),
    inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
}
.header_notification_drawer_divider {
  margin: 0px 0px 0px 0px !important;
  border-block-start: 1px solid rgb(5 5 5 / 14%) !important;
}
.header_notification_popup_list_icon_container {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d32f2f1a;
}
.header_notification_drawer_list_title {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 2px !important;
}
.header_notification_drawer_list_title_container {
  display: flex;
  justify-content: space-between;
}
.header_notification_drawer_listunread_title {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 2px !important;
}
.header_notification_drawer_list_message {
  color: gray;
  font-size: 12px;
  line-height: 21px;
}
.header_notification_drawer_unreadindicator {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #5b69ca;
  border-radius: 50%;
  top: 50%;
  left: 18px;
}
.header_notification_pagenumber_container {
  font-size: 11px;
  color: gray;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  -webkit-tap-highlight-color: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.header_notification_arrowbutton {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_notification_arrowbutton:hover {
  background-color: rgba(128, 128, 128, 0.253);
  color: #333 !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.header_notification_disable_arrowbutton {
  width: 25px;
  height: 25px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.header_notification_drawer_nonotification_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.header_notification_drawer_nonotification_text {
  color: #333;
  font-weight: 600;
  font-size: 17px;
  margin-top: 12px;
}
